<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/usuario/usuariocss.css">
</head>
<body>

	<form onsubmit="cadastrarUsuario()">
	
	<div class="formDiv">	
	
	<div class="video1">
	<video autoplay muted loop >
		<source src="/usuario/cafe.mp4" type="video/mp4">
	
	</video>
	</div>
	
	<div class="content">
	<h1 class="titulo">CADASTRO DE USUARIO</h1>
	
	<input required="required" class="inputs" name="nome" id="nome" type="text" placeholder="Informe seu nome"/>
	
	<input required="required" class="inputs" type="email" name="email" id="email" placeholder="Informe seu email"/>
	
	<input required="required" class="inputs" type="password" name="senha" id="senha" placeholder="Informe sua senha"/>
	
	<div class=" botao"><button class=" botao2" type="submit">Salvar</button></div>
	
	</div>
	
	</div>
	
	</form>

<script src="/JavaScript/fazPost.js"></script>
</body>
</html>