<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HtMl padrão</title>

<link rel="stylesheet" href="/cssAdm/padrao.css">
</head>
<body>

<header th:fragment="cabecalho">


	<nav style="background-color: #48cae4">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo right">Logo</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="/formAdm" target="black">Cadastro de Adm</a></li>
	        <li><a href="/listarAdmin/1" target="black">Listar Administrador</a></li>
	        <li><a href="/listarTipos" target="black">Lista de Tipos de Lanchonetes</a></li>
	        <li><a href="/tipoLanchonete" target="black">Cadastro de tipos de Lanchonetes</a></li>
	         <li><a href="/formLanchonete" target="black">Cadastro de lanchonetes</a></li>
	         
	        
	      </ul>
	    </div>
	  </nav>
	  </header>
  
  
  <footer class="page-footer " style="background-color: #48cae4" th:fragment="rodape">
          
       
            <div class="container">
            © 2022 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>