<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" href="/cssAdm/listaAdm.css">

<link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
<meta charset="utf-8">
<title>Listas</title>
</head>
<body>

  <header th:replace="fragments/padrao :: cabecalho"></header>
  
	<table class="striped">
		<thead class="head">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Excluir</th>
				<th>Alterar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="adm:${admins}">
				<td th:text="${adm.id}"></td>
				<td th:text="${adm.nome}"></td>
				<td th:text="${adm.email}"></td>
				<td><a th:href="@{/excluirAdm(id=${adm.id})}">Excluir</a></td>
				<td><a th:href="@{/alterarAdm(id=${adm.id})}">Alterar</a></td>
			</tr>

		</tbody>
	</table>

	<ul class="pagination">
		<li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i class="material-icons">chevron_left</i></a></li>
		
		<li th:each="p: ${numPaginas}" th:class="${paginaAtual == p ? 'active  red accent-3' : 'waves-effect'}">
		<a th:href="${p}"><span th:text="${p}"></span></a>
		</li>
				
		<li th:class="${paginaAtual == totalPaginas ? 'disabled' : 'waves-effect'}"><a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}"><i
				class="material-icons">chevron_right</i></a></li>
	</ul>
	
	<footer th:replace="fragments/padrao :: rodape"></footer>

            
</body>
</html>