@charset "utf-8";
body{
	background-color: #e1f5fe;
}
.controle{
	margin:100px 500px;
	width:50%;
	background-color: white;
	
}
#botao{
	color:#ff8a80;
}

.erro{
	background-color: #ff8a80;
	color:white;
	height: 60px;
}
.sucesso{
	background-color: #e8f5e9;
	color:black;
	height: 60px;
	
}
.titulo{
	text-align: center;
	margin-bottom: 1em;
	color:red;
	
}
#first_name2{
	width:200%;
}